        * {
        margin: 0px;
        box-sizing: border-box;
    }
    
    header {
        background-image: url("images/banner3.jpg");
        background-size: cover;
        background-repeat: none;
        color: white;
        text-align: center;
        font-size: 11px;
        padding: 5%;
        width: 100%;
        margin-bottom: 5%;
    }
    
    #readmore {
        background-color: rgb(65, 113, 218);
        width: 33%;
        margin: auto;
        border-radius: 10px;
        margin-top: 20px;
        padding: 5px;
    }
    
    #buildestate {
        text-align: center;
        margin-top: 30px;
    }
    
    #build {
        color: orange;
        border: 3px rgb(92, 92, 92) solid;
        border-right: none;
        display: inline;
        padding-left: 10px;
    }
    
    #estate {
        display: inline;
        color: rgb(92, 92, 92);
    }
    
    .navli {
        margin-top: 5px;
        background-color: rgb(84, 197, 241);
        padding: 5px;
        list-style: none;
        text-align: center;
        color: white;
        padding: 0px;
        margin: 16px 17px;
        
    }
    
    .navigation {
        padding: 7px;
    }
    
    main>article {
        width: 90%;
        margin: auto;
        padding: 5px;    
    }
    
    
    .articletitle {
        text-align: center;
        border-bottom: solid black 2px;
        width: 40%;
        margin: auto;
        margin-bottom: 7%;
        margin-top: 7%;

    }
    
    .welcome>h2 {
        color: rgb(84, 197, 241);
        padding-left: 15px;
        margin-bottom: 10px;
    }
    
    .welcome>ul {
        color: gray;
        list-style-image: url('images/arrow_bullet.png');
        list-style-position: inside;
        padding: 0;
        margin: 15px 0px;
    }
    .welcome>ul>li {
        padding: 5px;
    }
    
    #articleimg {
        width: 100%;
        margin-bottom:5%;
    }
    
    .whatpeoplesay {
        background-color: rgb(84, 197, 241);
        color: white;
        margin-top: 10px;
        padding: 10px;
    }
    
    .whatpeoplesay>img {
        border: white solid 2px;
        width: 25%;
        border-radius: 50%;
        float: left;
        padding: 3px;
    }
    
    .whatpeoplesay>h4 {
        margin-top: 8%;
        float: left;
        color: black;
    }
    
    .whatpeoplesay>p {
        clear: left;
    }
    
    #getintouch {
        text-align: center;
        width: 100%;
    }
    .contact {
        color: white;
        text-align: center;
        padding: 10%;
        
    }
    .contactimages {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;
    }
    
    #green {
        background-color: rgb(94, 224, 148);
    }
        
    #pink {
        background-color: rgb(214, 61, 120);
    }
    
    #blue {
        background-color: rgb(32, 88, 209);
    }
    
    #getintouch>section {
        
        margin: 0;
    }
    #house {
        background-color: rgb(101, 167, 167)
    }
    
    iframe {
        width: 100%;
    }
    form {
        margin-top: 35px;
        padding: 5%;
        margin: auto;
        padding-top: 0;
        width: 98%;
    }
    .forminput {
        width:95%;
        padding: 3%;
        margin:auto;
        margin-bottom: 10px;
    }
    #submit {
        background-color: orange;
        color: white;
        border-radius: 5px;
    }

    footer {
        background-color: rgb(58, 57, 57);
        color: white; 
        text-align: center;
        padding: 4%;
    }

    table {
        width: 80%;
        margin: auto;
    }
    a:hover, a:visited, a:link, a:active {
        text-decoration: none;
        color: inherit;
    }
    
    @media(min-width:768px) {

        header {
            position: relative;
            padding: 18%; 
        }
        header>h1 {
            font-size: 37px;
        }

        #readmore {
            width: 20%;
            margin-top:7%;
            font-size: 16px;
        }
        #buildestate {
            position: absolute;
            top: 0;
            left: 0;
            margin: 10px;
        }
        #build {
            border: 4px rgb(255, 255, 255) solid; 
            border-right: none;
        }
        #estate {
            color:white; 
        }
        .navli {
            position: absolute;
            top: 0px;
            right: 0px;
            overflow: hidden;
            background-color: transparent;
        }
        .navigation {
            float: left;
        }
        main>article {
            font-size: 17px;
        }
        
        .welcome, .whatpeoplesay, .contact {
            float:left;
            width: 49%;
            margin-left: 1%;
        }
        #articleimg {
            margin-bottom: 0;
        }
        #headArticle, #whatpeoplesay, #getintouch, #form {
            overflow: hidden;
        }
        
        .contact {
            height: 230px;
            width: 50%;
                    }

        iframe {
            height: 460px; 
        }
        .forminput {
            float: left;
            width: 32%;
            margin-right: 1%;
        }
        #textarea {
            width: 98%;
        }
        table {
            width: 60%;
        }
        .articletitle {
            font-size: 34px;
        }
        
    }
    @media(min-width:1200px) {
    
        header {
            padding: 20%;
            padding-left: 3%;
            padding-right: 3%;
        }
        header>h1 {
            font-size: 40px;
        }
        #readmore {
            width: 12%;
            margin-top: 3%;
        }
        #headArticle, #form {
            width: 80%;
            margin: auto; 
        }
        .welcome {
            width: 32%;
        }
        .whatpeoplesay {
            width: 32%;
        }
        .contact {
            width: 25%;
            padding: 5%;
        }
    
    
    }