            * {
                margin: 0px;
                box-sizing: border-box;
            }
            
            header {
                background-image: url("images/banner3.jpg");
                background-size: cover;
                background-repeat: none;
                color: white;
                text-align: center;
                font-size: 11px;
                padding: 5%;
                width: 100%;
            }
            
            #readmore {
                background-color: rgb(65, 113, 218);
                width: 33%;
                margin: auto;
                border-radius: 10px;
                margin-top: 20px;
                padding: 5px;
            }
            
            #buildestate {
                text-align: center;
                margin-top: 30px;
            }
            
            #build {
                color: orange;
                border: 3px gray solid;
                border-right: none;
                display: inline;
                padding-left: 10px;
            }
            
            #estate {
                display: inline;
                color: gray;
            }
            
            .navli {
                margin-top: 5px;
                background-color: rgb(84, 197, 241);
                padding: 5px;
                list-style: none;
                text-align: center;
                color: white;
                padding: 0px;
                margin: 16px 17px;
            }
            
            .navigation {
                padding: 7px;
            }
            
            main>article {
                width: 90%;
                margin: auto;
                padding: 5px;
            }
            
            .articletitle {
                text-align: center;
                border-bottom: solid black 2px;
                width: 53%;
                margin: auto;
                margin-top: 35px;
            }
            
            .welcome>h2 {
                color: rgb(84, 197, 241);
                margin-top: 20px;
                padding-left: 15px;
                margin-bottom: 10px;
            }
            
            .welcome>ul {
                color: gray;
                list-style-image: url('images/arrow_bullet.png');
                list-style-position: inside;
                padding: 0;
                margin: 15px 0px;
            }
            
            .welcome>ul>li {
                padding: 5px;
            }
            
            #articleimg {
                width: 100%;
            }
            
            .whatpeoplesay {
                background-color: rgb(84, 197, 241);
                color: white;
                margin-top: 10px;
                padding: 10px;
            }
            
            .whatpeoplesay>img {
                border: white solid 2px;
                width: 25%;
                border-radius: 50%;
                float: left;
                padding: 3px;
            }
            
            .whatpeoplesay>h4 {
                margin-top: 8%;
                float: left;
                color: black;
            }
            
            .whatpeoplesay>p {
                clear: left;
            }
            
            #getintouch {
                text-align: center;
                width: 100%;
            }
            
            .contact {
                color: white;
                text-align: center;
                background-color: rgb(66, 179, 231);
                width: 100%;
                max-height: 300px;
            }
            
            .contactimages {
                width: 20px;
                height: 20px;
                margin-right: 10px;
                vertical-align: middle;
            }
            
            #green {
                background-color: rgb(94, 224, 148);
            }
            
            #pink {
                background-color: rgb(214, 61, 120);
            }
            
            #blue {
                background-color: rgb(32, 88, 209);
            }
            
            #getintouch>section {
                padding: 15px;
                margin: 0;
            }
            
            #getintouch>h1 {
                margin-bottom: 20px;
            }
            
            iframe {
                width: 100%;
            }
            
            form {
                margin-top: 35px;
                padding: 5%;
                margin: auto;
            }
            
            .forminput {
                width: 95%;
                padding: 3%;
                margin: auto;
                margin-bottom: 10px;
            }
            
            #submit {
                background-color: orange;
                color: white;
                border-radius: 5px;
            }
            
            footer {
                background-color: rgb(58, 57, 57);
                color: white;
                text-align: center;
                padding: 10px;
            }
            
            footer>ul>li {
                float: left;
                list-style-type: none;
                margin-right: 5px;
                margin-bottom: 10px;
            }
            
            footer>ul {
                overflow: hidden;
                padding: 5px;
            }
            
            @media(min-width:768px) {
                header {
                    position: relative;
                    padding: 13%;
                }
                #readmore {
                    margin-top: 10%;
                    width: 20%;
                }
                #buildestate {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 10px;
                }
                .navli {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    overflow: hidden;
                    background-color: transparent;
                }
                .navigation {
                    float: left;
                    background-color: none;
                }
                .welcome {
                    float: left;
                    width: 48%;
                    margin-right: 2%;
                    margin-top: 3%;
                }
                #headArticle {
                    overflow: hidden;
                }
                .whatpeoplesay {
                    float: left;
                    width: 48%;
                    margin-right: 2%;
                    margin-top: 3%;
                }
                #whatpeoplesay {
                    overflow: hidden;
                }
                .contact {
                    width: 50%;
                    float: left;
                    margin: 0;
                    height: 200px;
                }
                .forminput {
                    float: left;
                    width: 30%;
                    margin-right: 3%;
                }
                #textarea {
                    width: 100%;
                    clear: both;
                }
                #forma {
                    overflow: hidden;
                }
            }